DB_HOST=127.0.0.1
DB_PORT=33063
DB_NAME=polar
DB_USER=polar
DB_PASSWORD=polar
APP_URL=http://localhost:4310
NEXT_PUBLIC_BUILD_ID=development
GIT_SHA=development
SEED_TEST_USERS=false
TEST_ACCOUNT_PASSWORD=

